* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.bouncing-loader {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

.bouncing-loader > div {
  width: 8px;
  height: 8px;
  margin: 1px 3px;
  border-radius: 50%;
  background-color: #00989E;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-16px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

.page-background {
  opacity: 0.5;
  position: fixed;
  left: 10px;
  top: 150px;
  width: 100%;
  height: auto;
  z-index: -1;
  padding: 0 50px;
}

.rhap_container {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}